/* ⤵ APPLY TO ALL STYLES 🌾 */
* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

html,
body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf); */
  margin: 0;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

/* ⤵ HOME PAGE STYLES 🏡 */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ⤵ HEADERS 💆‍♀️ */
h1,
h2 {
  text-align: center;
  color: #ffffff;
}

h1 {
  padding: 1.5em;
}

h2 {
  padding: 2.1em 2.1em .5em 2.1em;
}

/* ⤵ INPUT STYLES 📥 */
.message-form,
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-form {
  justify-content: center;
  background-color: #ffffff;
  width: 37em;
  height: 7em;
  border-radius: .6em;
}

.form {
  justify-content: space-around;
  width: 28em;
  height: 6em;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 25em;
  font-size: 1.2em;
}

.radio {
  display: flex;
  justify-content: space-evenly;
  width: 8em;
}

.btn-receive-msg {
  background-color: #134d71;
  width: 11em;
  height: 1.7em;
  color: #ffffff;
  font-size: 1.1em;
  border-radius: .4em;
  border: none;
}

/* ⤵ MESSAGE BOX STYLES 💌 */
.message-box {
  margin-top: 6.2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 54em;
  height: 10em;
  border-radius: .6em;
}

.icon,
.message-display {
  display: flex;
  justify-content: center;
  height: 5.1em;
}

.message-display {
  align-items: center;
  text-align: center;
  font-size: 1.6em;
  padding: 1em;
  height: 2em;
}

.fav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-visit-hearts,
.btn-hearts-mini,
.btn-return-home {
  width: 11em;
  height: 1.7em;
  color: #ffffff;
  font-size: 1.1em;
  background-color: #134d71;
  border-radius: .4em;
  border: none;
  margin: 0 .5em 0 .5em;
}

.btn-hearts-mini {
  width: 2em;
}

.pink-hearts {
  color: #fe77db;
}

/* ⤵ SAVED MESSAGE STYLES 💖 */
.saved-wrapper {
  width: 95%;
}

.heart-header {
  text-align: center;
  padding: .1em;
  color: #fe77db;
}

.saved-headers {
  display: flex;
  justify-content: space-around;
  padding: .3em;
}

.saved-messages-section {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#fa77db, #FFAAE9, #f7e4bf);
  width: 44%;
  margin: 0 1em 0 1em;
  border-radius: .6em;
}

.btn-return-home {
  margin: 2em;
}

.affir-card,
.mantra-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5em 0 .5em 0;
  width: 95%;
  height: 3em;
  background-color: #ffffff;
  color: #134d71;
  border-radius: .6em;
  font-size: 1em;
}

.affir-card > p,
.mantra-card > p {
  margin: 0 .5em 0 .5em;
}

.btn-delete {
  margin: 0 .5em 0 .5em;
  color: #ffffff;
  background-color: #f7e4bf;
  border-radius: 5em;
  border: 1px solid #fe77db;
}

.bonus-rainbow {
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
