* {
  border: .1em solid peachpuff;
}

.hidden {
  display: none!important;
}

img {
  width: 7%;
}

/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
